{{#if model.user.isRunning}}
  <h2>Loading user...</h2>
{{else}}
  <h2>
    User {{model.user.value.id}} <br>
  </h2>
{{/if}}
{{#if model.comments.isRunning}}
  Loading comments... <br>
{{else}}
  {{#each model.comments.value as |comment|}}
    Comment {{comment.id}} <br>
  {{/each}}
{{/if}}

{{#if model.roles.isRunning}}
  Loading roles... <br>
{{else}}
  {{#each model.roles.value as |role|}}
    Role {{role.id}} <br>
  {{/each}}
{{/if}}

{{#if model.threads.isRunning}}
  Loading threads... <br>
{{else}}
  {{#each model.threads.value as |thread|}}
    Thread {{thread.id}} <br>
  {{/each}}    
{{/if}}



